.screen-wrapper {
    height: 100svh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: clamp(2rem, 10vh, 4rem);  
}

.screen {
  width: min(32rem, 90vw);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  text-align: center;
  background:
    radial-gradient(circle at top,
        var(--background-light) 0,
        var(--background-medium) 55%,
        var(--background-dark) 100%);
  border: 2px solid var(--pacman-color);
  box-shadow:
      0 0 0.5rem var(--secondary-color),
      0 0 2rem var(--secondary-color-tr),
      0 0 3.2rem rgba(0, 0, 0, 0.95),
      0 0 0.7rem rgba(0, 0, 0, 0.85) inset;  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.screen h2 {
  font-family: "Crackman", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  font-size: clamp(2rem, 4vw, 3.5rem);  
  color: var(--pacman-color);
}

.screen p {
  max-width: 26rem;
  font-size: 1.125rem;
  text-align: start;
  line-height: 1.8;
  color: var(--text-muted);
}

.score-status {
  width: 100%;
}

.new-game {
  font-size: 1rem;
  border: none;
}

.new-game:hover {
  box-shadow: 0 0 7px var(--secondary-color);
}

/* SCREEN TYPE */
.screen--start h2 {
  text-shadow:
    0 0 0.1rem var(--background-dark),
    0 0 0.3rem var(--background-light);
}

.screen--game-over {
    border-color: var(--ghost-red-tr);
    box-shadow:
        0 0 0.9rem var(--ghost-red),
        0 0 2.4rem var(--ghost-red-tr),
        0 0 3.2rem rgba(0, 0, 0, 0.95),
        0 0 0.7rem rgba(0, 0, 0, 0.85) inset;
}

.screen--game-over h2 {
    color: var(--ghost-red);
}

.screen--game-over .new-game {
  color: var(--text-color);
  text-shadow: 1px 1px 2px var(--danger-light);
  border: none;
  background: linear-gradient(
    135deg, 
  var(--ghost-red), 
  var(--danger-light));
  box-shadow: 0 0 10px var(--danger-light);
}

.screen--game-over .new-game:hover {
   box-shadow: 0 0 12px var(--ghost-red);
}

.screen--win {
    border-color: var(--ghost-green-tr);
    box-shadow:
        0 0 0.9rem var(--ghost-green),
        0 0 2.4rem var(--ghost-green-tr),
        0 0 3.2rem rgba(0, 0, 0, 0.95),
        0 0 0.7rem rgba(0, 0, 0, 0.85) inset;
}

.screen--win h2 {
  color: var(--ghost-green);
}

.screen--win .new-game {
  text-shadow: 1px 1px 2px var(--ghost-green);
  color: var(--text-dark);
  border: none;
  background: linear-gradient(
    135deg, 
    var(--ghost-green), 
    var(--ghost-green-dark));
  box-shadow: 0 0 2px var(--ghost-green);
}

.screen--win .new-game:hover {
  box-shadow: 0 0 7px var(--ghost-green);
}
